@model final_capstone.Models.RecommendationViewModels.RecommendationEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Recommendation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecommendationId" />
            <div class="form-group">
                <label asp-for="Recommendation.Name" class="control-label"></label>
                <input asp-for="Recommendation.Name" class="form-control" />
                <span asp-validation-for="Recommendation.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recommendation.Description" class="control-label"></label>
                <input asp-for="Recommendation.Description" class="form-control" />
                <span asp-validation-for="Recommendation.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recommendation.StreetAddress" class="control-label"></label>
                <input asp-for="Recommendation.StreetAddress" class="form-control" />
                <span asp-validation-for="Recommendation.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recommendation.WebsiteURL" class="control-label"></label>
                <input asp-for="Recommendation.WebsiteURL" class="form-control" />
                <span asp-validation-for="Recommendation.WebsiteURL" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="Recommendation.DefaultView" /> @Html.DisplayNameFor(model => model.Recommendation.DefaultView)
                </label>
            </div>
        </div>*@
            <div class="form-group">
                <label asp-for="Recommendation.ApplicationUserId" class="control-label"></label>
                <input asp-for="Recommendation.ApplicationUserId" class="form-control" />
                <span asp-validation-for="Recommendation.ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recommendation.NeighborhoodId" class="control-label"></label>
                <select asp-for="Recommendation.NeighborhoodId" class="form-control" asp-items="@Model.Neighborhoods"></select>
                <span asp-validation-for="Recommendation.NeighborhoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recommendation.RecommendationTypeId" class="control-label"></label>
                <select asp-for="Recommendation.RecommendationTypeId" class="form-control" asp-items="@Model.RecommendationTypes"></select>
                <span asp-validation-for="Recommendation.RecommendationTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
