@*I commented out this code because I don't currently need the details functionality in the recommendations controller'*@

@*@model final_capstone.Models.RecommendationType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecommendationType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecommendationTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
